<div class="user">
  <% user = User.find(params["user_id"]) %>
    <% if user.image.attached? %>
      <%= image_tag(user.image) %>
    <% else %>
      <img src="<%= user.default_image%>" alt=<%= user.name %>>
    <% end %>
    <div>
    <a href="/users/<%= user.id %>">
      <h2><%= user.name %></h2>
    </a>
    <span>
      <% if user.posts_counter.nil? %>
        No post yet
      <% else %> 
        <a href="/users/<%= user.id %>/posts"> Number of posts: <%= user.posts_counter %> </a>
      <% end %>
    </span>
    </div>
</div>
<ul>
  <% params['page_no'] ||= 1
     current_page = params['page_no'].to_i
     page_size = 5
     total_posts = user.posts.count
     total_pages = (total_posts/page_size).to_i + 1
     Post.where(author: user).order(created_at: :desc)[(current_page -1) * page_size..(page_size * current_page) - 1 ].each  do |post| %>
    <li class="post">
      <a href="/users/<%= user.id %>/posts/<%= post.id %>"> 
        <h2><%= post.title %></h2> 
        <p><%= (post.text.nil? ? '' : post.text).length > 100 ? post.text[0..120] + '...' : post.text %></p>
        <span>Likes: <%= post.likes_counter.nil? ? '0' : post.likes_counter %> </span>
        <span>Comments: <%= post.comments_counter.nil? ? '0' : post.comments_counter %> </span>
      </a>
      <div class="comments">
      <hr/>
      <h4>Comments:</h4>
        <ul>
        <% post.last_5_comments.each do |comment| %>
          <li>
            <b><%= comment.author.name %>:  </b>
            <span><%= comment.text %></span>
            <span class="commentTime">(<%= comment.updated_at.strftime('%Y-%m-%d') %>)</span>
          </li>
        <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
<div class="pagination">
  <% current_page ||= 1 
     page_size = 5
     total_posts = user.posts.count
  %>
  <ul>
    <%(1 .. total_pages).each do |i|%>
    <li>
      <%= link_to i, "/users/#{user.id}/posts/page/#{i}", method: :get, class: i == current_page ? "active" : '' %>
    </li>
    <%end%>
  </ul>
</div>
<div class="links">
  <a href="/users/<%= user.id %>" class="btn"> Go back to user page </a>
  <a href="/users" class="btn"> See all users </a>
</div>