<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>Welcome <b><%= current_user.name %></b> | 
      <%= button_to "Log out", 
            destroy_user_session_path, 
            method: :delete,
            class:'link' %>
      </div>
    <% end %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <div class="layout"><%= yield %></div>
    
  </body>
</html>
